.outterCard{
    width: 45vh;
    margin: 1%;
    height: 75vh;
    text-decoration: none;
    background-color: #af534e81;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.outterCard:hover {
    transform: scale(1.05, 1.05);
  }

.card{
    width: 95%;
    height: 95%;
}

.name{
    
    color: #fff;
    
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bd7976;
    border-radius: 15px 15px 2px 2px;
    height: 8vh;
}

.temps{
    color: #af534e81;
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px
}

.imgContainer{
    overflow: hidden;
    height: 33vh;
    border-radius: 25px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dogImage{
    border-radius: 10px;
    width: 79%;
}

.tempsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.height{
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 6%;
}