.background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .h1 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    margin-top: 30vh;
  }

  .buttons {
    background-color: #bd7976;
    color: #fff;
    border-radius: 2px 15px 2px 15px;
    margin: 5px;
    height: 50%;
    font-size: 200%;
    border: transparent;
    cursor: pointer;
  }

  .display{
    display: flex;
    align-items: center;
    justify-content: center;
  }